.end-default-notification-box-low,
.end-default-notification-box-normal,
.end-default-notification-box-critical {
    background-color: #1a1b26;

    padding: 10px 12px;
    margin: 4px 0;

    border-radius: 8px;
    border: none;
}

.end-default-notification-appicon {
    margin-right: 8px;
}

.end-default-notification-appname {
    color: #c0caf5;
    margin-right: 12px;
    font-family: 'JetBrainsMono Nerd Font';
    font-weight: bold;
    font-size: 13px;
}

.end-default-notification-body-box {
    margin-top: 6px;
}

.end-default-notification-title-bar {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.notification-text {
    color: #c0caf5;
    font-family: 'JetBrainsMono Nerd Font';
}

.notification-title {
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 2px;
}

.notification-content {
    font-size: 0.78em;
}

.content-box {
    margin-left: 6px;
}

.end-notification-buttons {
    margin-top: 8px;
}

.end-notification-button {
    background-color: transparent;
    color: #7aa2f7;

    padding: 4px 8px;
    border-radius: 6px;

    font-size: 0.75em;

    border: none;
}

.end-notification-button:hover {
    background-color: rgba(122, 162, 247, 0.12);
}

.end-notification-reply {
    background-color: #414868;
    color: #c0caf5;
    padding: 6px 8px;
    border-radius: 6px;
    margin-right: 8px;
    font-size: 0.85em;
}

.end-notification-reply:hover:focus {
    background-color: #565f89;
    color: #c0caf5;
    padding: 6px 8px;
    border-radius: 6px;
    margin-right: 8px;
}

.end-history-box {
    background-color: #1a1b26;
    padding: 10px;
    border-radius: 8px;
    margin: 4px 0;
    border: none;
}

.end-history-title-bar {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.end-history-appicon {
    margin-right: 5px;
    margin-bottom: 2px;
}

.end-history-appname {
    color: #c0caf5;
    margin-right: 5px;
    font-family: 'JetBrainsMono Nerd Font';
    font-weight: bold;
    font-size: 9px;
}

.end-history-body-box {
    margin-top: 4px;
}

.end-notification-frame {
    background-color: #000000;
    border-radius: 8px;
    padding: 4px;
}

.end-history-frame {
    background-color: #1a1b26;
    padding: 0;
}
