@import "colors";

* {
  all: unset;
  font-family: feather;
  font-family: HackNerdFont;
}


/** tooltip!! **/
tooltip.background {
  background-color: $tooltip-bg;
  font-size: 18;
  border-radius: 6px;
  color: $tooltip-fg;
  border: 1px solid $accent;
}

tooltip label {
  margin: 6px;
}

.bg {
  background-color: $bg;
  border-radius: 12px;
}

.win {
  background-color: $muted;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px;
}

.profile_picture {
  background-image: url('images/profile.jpeg');
  background-size: 90px;
  background-position: 50% 35%;
  min-height: 90px;
  min-width: 90px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid $muted;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.profile_kanji {
  color: $accent;
  font-size: 24px;
  font-weight: bold;
  margin: -5px 0px 0px 10px;
}

.profile_greeting {
  color: $greeting;
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 0px 10px;
}

.profile_username {
  color: $username;
  font-size: 36px;
  font-weight: bold;
  margin: -15px 0px 0px 0px;
}

//  TIME
.hour_class {
  color: $time-fg;
  font-size: 45px;
  font-weight: bold;
  margin: 0px 0px 0px 20px;
}

.minute_class {
  color: $time-fg;
  font-size: 45px;
  margin: 0px 10px 0px 20px;
}

.time_sep_class {
  color: $comment;
  font-size: 18px;
}

.time_day_class_n {
  color: $comment;
  font-size: 18px;
  margin: 0px 10px 0px 0px;
}

.day_class_n {
  color: $comment;
  font-size: 18px;
}

.month_class_n {
  color: $comment;
  font-size: 18px;
}


// MUsic
.music_card {
  background: $muted;
  border-radius: 8px;
  padding: 0;
  color: $fg;
  margin: 0 10px 0 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* COVER */
.music_top {
  border-radius: 8px 8px 0 0;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 20px 3px $black;
  padding: 10px;
  min-height: 110px;
}

/* TEXT */
.song_title {
  font-size: 20px;
  font-weight: 700;
  color: $white;
}

.song_artist {
  font-size: 14px;
  color: $white;
  margin-top: 4px;
}

/* CONTROLS */
.music_controls {
  padding: 18px;
}

/* BUTTON ROW */
.controls_row {
  padding: 10px;
}

/* BUTTONS */
.control_btn {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 999px;

  min-width: 24px;
  min-height: 24px;

  font-size: 20px;
  color: $white;

  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button_container {
  margin: 5px;
  font-size: 22px;
}

.control_btn:hover {
  background: rgba(255, 255, 255, 0.14);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* SLIDER */
.music_progress trough {
  min-height: 4px;
  min-width: 300px;

  background: $accent;
  border-radius: 999px;
}

.music_progress highlight {
  background: $gold;
  border-radius: 999px;
}

.music_progress slider {
  background: $slider-handle;
  border-radius: 999px;
  min-width: 12px;
  min-height: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}





// Audio panel
.audio_panel {
  background-color: $muted;
  border-radius: 8px;
  padding: 0;
  color: $fg;
  margin: 0 10px 0 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.audio_panel trough {
  min-height: 4px;
  min-width: 300px;

  background: $accent;
  border-radius: 999px;
}

.volume_bar highlight {
  background: $red;
  border-radius: 999px;
}

.mic_bar highlight {
  background: $green;
  border-radius: 999px;
}

.audio_panel slider {
  background: $slider-handle;
  border-radius: 999px;
  min-width: 12px;
  min-height: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sliders {
  font-size: 18px;
  padding: 15px 0 15px 0;
}







// Osd's
.osd {
  background: $bg;
  border-radius: 6px;
  padding: 9px;
  border: 1px solid $accent;
}

.osd_icon {
  font-size: 20px;
  color: $osd-icon;
}

.osd_label {
  font-size: 16px;
  font-weight: bold;
  color: $white;
}

.osd_scale trough {
  min-height: 10px;
  border-radius: 4px;
  background: $muted;
}

.osd_scale highlight {
  background: $gold;
  border-radius: 4px;
}

@import "end.scss";
